.weather-container {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 190rem;
  margin: auto;
  margin-top: 3rem;
}

.city-name {
  font-size: 3.5rem;
  font-weight: 800;
  color: #1e2a50;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

.current-temp {
  font-size: 5rem;
  font-weight: 900;
  color: #3456e1;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px rgba(52, 86, 225, 0.4);
}

.weather-condition {
  font-size: 1.8rem;
  font-weight: 600;
  color: #4a4e69;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.temp-details {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2.5rem;
}

.temp-details span {
  background: linear-gradient(
    135deg,
    rgba(106, 141, 252, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.next-seven-days-container {
  display: flex;
  min-height: 15rem;
  min-width: 30rem;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 2rem;
  overflow-x: auto;
  padding: 5rem;
}

.next-day-item {
  background: rgba(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1;
  min-width: 120px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 1.4rem;
  backdrop-filter: blur(10px);
}

.next-day-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}

.next-da-name {
  font-weight: 800;
  color: #1e2a50;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.next-day-temp {
  font-size: 1.6rem;
  font-weight: 800;
  color: #3456e1;
}

.hidden {
  display: none;
}
.day-icon {
  width: 5rem;
  height: 5rem;
}

.seven-days-icon {
  width: 3rem;
  height: 3rem;
}
